<script>
  $('#toc').toc({
    'container': '.main',
    'prefix': 'toc',
    'highlightOffset': 100
  });
  $('#toc').affix({
    offset: {
        top: $('.jumbotron').height()+160-$('.navbar').height(),
      }
  });
  $('img').addClass('img-responsive');
  $('table').addClass('table table-striped');
  $('code').each(function(){
    var more = $(this).text().split('*');
    $(this).replaceWith('<span><span class="toggle-more"><span class="keyword">'+more[1]+'</span></span>' +'<p class="more">'+more[2]+'</p></span>');
  });
  $(document).ready(function(){
    $('span.toggle-more').click(function(){
        $(this).parent().find('p.more').slideToggle("fast");
        // $(this).find('svg').toggleClass("visible");
    });
  });
</script>
</body>
</html>
