<script>
  $('#toc').toc({
    'container': '.main',
    'prefix': 'toc',
    'highlightOffset': 100
  });
  $('#toc').affix({
    offset: {
        top: $('.jumbotron').height()+160-$('.navbar').height(),
      }
  });
  $('table').addClass('table table-striped');
  $('code').each(function(){
    var more = $(this).text().split('*');
    $(this).replaceWith('<span><span class="toggle-more"><span class="keyword">'+more[1]+'</span> <svg class="more" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 470.667 470.667" enable-background="new 0 0 470.667 470.667" xml:space="preserve"><path fill="#777" d="M235.334,0C105.362,0,0,105.362,0,235.333c0,129.971,105.362,235.334,235.334,235.334c129.971,0,235.333-105.363,235.333-235.334C470.667,105.362,365.305,0,235.334,0z M207.591,441.673l0.094-65.264l-0.665-0.586l0.667-0.58l0.497-345.965l55.113,0.077l-0.429,297.857l61.191-53.267l37.194,32.771L258.6,396.065L207.591,441.673z"/></svg></span>' +'<p class="more">'+more[2]+'</p></span>');
  });
  $(document).ready(function(){
    $('span.toggle-more').click(function(){
        $(this).parent().find('p.more').slideToggle("fast");
        // $(this).find('svg').toggleClass("visible");
    });
  });
</script>
</body>
</html>
